doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Lifvest| Primer 1
		link(href='/forms/css/bootstrap.min.css', rel='stylesheet')
		link(href='/forms/font-awesome/css/font-awesome.css', rel='stylesheet')
		// Morris
		link(href='/forms/css/plugins/morris/morris-0.4.3.min.css', rel='stylesheet')
		// Gritter
		link(href='/forms/js/plugins/gritter/jquery.gritter.css', rel='stylesheet')
		link(href='/forms/css/animate.css', rel='stylesheet')
		link(href='/forms/css/style.css', rel='stylesheet')
	body
		#wrapper
			nav.navbar-default.navbar-static-side(role='navigation')
				.sidebar-collapse
					ul#side-menu.nav.metismenu
						li.nav-header
							.dropdown.profile-element
								span
									img.img-circle(alt='image', src='/forms/img/profile_small.jpg')
								a.dropdown-toggle(data-toggle='dropdown', href='#')
									span.clear
										span.block.m-t-xs
											strong.font-bold David Williams
										span.text-muted.text-xs.block
											| Lifvest Member
											b.caret
								ul.dropdown-menu.animated.fadeInRight.m-t-xs
									li
										a(href='profile.html') Profile
									li
										a(href='contacts.html') Account
									li
										a(href='mailbox.html') Statements
									li.divider
									li
										a(href='/logout') Logout
							.logo-element
								| IN+
						li
							a(href='index.html')
								i.fa.fa-th-large
								span.nav-label Summary
								span
							ul.nav.nav-second-level.collapse
						li
							a(href='layouts.html')
								i.fa.fa-diamond
								span.nav-label Your Goals
						li
							a(href='#')
								i.fa.fa-bar-chart-o
								span.nav-label Budgeting
								span
							ul.nav.nav-second-level.collapse
								li
									a(href='graph_flot.html') Flot Charts
								li
									a(href='graph_morris.html') Morris.js Charts
								li
									a(href='graph_rickshaw.html') Rickshaw Charts
								li
									a(href='graph_chartjs.html') Chart.js
								li
									a(href='graph_chartist.html') Chartist
								li
									a(href='graph_peity.html') Peity Charts
								li
									a(href='graph_sparkline.html') Sparkline Charts
						li
							a(href='metrics.html')
								i.fa.fa-pie-chart
								span.nav-label Activity
								span.label.label-primary.pull-right NEW
						li
							a(href='widgets.html')
								i.fa.fa-flask
								span.nav-label Your Portfolio
						li
							a(href='#')
								i.fa.fa-edit
								span.nav-label Transfer Funds
								span
							ul.nav.nav-second-level.collapse
								li
									a(href='form_basic.html') Basic form
								li
									a(href='form_advanced.html') Advanced Plugins
								li
									a(href='form_wizard.html') Wizard
								li
									a(href='form_file_upload.html') File Upload
								li
									a(href='form_editors.html') Text Editor
						li
							a(href='mailbox.html')
								i.fa.fa-envelope
								span.nav-label Statements
								span.label.label-warning.pull-right 16/24
							ul.nav.nav-second-level.collapse
								li
									a(href='mailbox.html') Inbox
								li
									a(href='mail_detail.html') Email view
								li
									a(href='mail_compose.html') Compose email
								li
									a(href='email_template.html') Email templates
						li.active
							a(href='#')
								i.fa.fa-sitemap
								span.nav-label.active LV Primer
								span.fa.arrow
							ul.nav.nav-second-level.collapse
								li
									ul.nav.nav-third-level
								li.active
									a(href='#') Section 1
								li
									a(href='#') Section 2
								li
									a(href='#') Section 3
			#page-wrapper.gray-bg
				.row.border-bottom
					nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
						.navbar-header
							a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
								i.fa.fa-bars
							form.navbar-form-custom(role='search', action='search_results.html')
								.form-group
									input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
						ul.nav.navbar-top-links.navbar-right
							li
								span.m-r-sm.text-muted.welcome-message
							li.dropdown
								a.dropdown-toggle.count-info(data-toggle='dropdown', href='#')
									i.fa.fa-envelope
									span.label.label-warning 16
								ul.dropdown-menu.dropdown-messages
									li
										.dropdown-messages-box
											a.pull-left(href='profile.html')
												img.img-circle(alt='image', src='/forms/img/a7.jpg')
											div
												small.pull-right 46h ago
												strong Mike Loreipsum
												|  started following
												strong Monica Smith
												| .
												br
												small.text-muted 3 days ago at 7:58 pm - 10.06.2014
									li.divider
									li
										.dropdown-messages-box
											a.pull-left(href='profile.html')
												img.img-circle(alt='image', src='/forms/img/a4.jpg')
											div
												small.pull-right.text-navy 5h ago
												strong Chris Johnatan Overtunk
												|  started following
												strong Monica Smith
												| .
												br
												small.text-muted Yesterday 1:21 pm - 11.06.2014
									li.divider
									li
										.dropdown-messages-box
											a.pull-left(href='profile.html')
												img.img-circle(alt='image', src='/forms/img/profile.jpg')
											div
												small.pull-right 23h ago
												strong Monica Smith
												|  love
												strong Kim Smith
												| .
												br
												small.text-muted 2 days ago at 2:30 am - 11.06.2014
									li.divider
									li
										.text-center.link-block
											a(href='mailbox.html')
												i.fa.fa-envelope
												strong Read All Messages
							li.dropdown
								a.dropdown-toggle.count-info(data-toggle='dropdown', href='#')
									i.fa.fa-bell
									span.label.label-primary 8
								ul.dropdown-menu.dropdown-alerts
									li
										a(href='mailbox.html')
											div
												i.fa.fa-envelope.fa-fw
												|  You have 16 messages
												span.pull-right.text-muted.small 4 minutes ago
									li.divider
									li
										a(href='profile.html')
											div
												i.fa.fa-twitter.fa-fw
												|  3 New Followers
												span.pull-right.text-muted.small 12 minutes ago
									li.divider
									li
										a(href='grid_options.html')
											div
												i.fa.fa-upload.fa-fw
												|  Server Rebooted
												span.pull-right.text-muted.small 4 minutes ago
									li.divider
									li
										.text-center.link-block
											a(href='notifications.html')
												strong See All Alerts
												i.fa.fa-angle-right
							li
								a(href='/login')
									i.fa.fa-sign-out
									|  Log out
							li
								a.right-sidebar-toggle
									i.fa.fa-tasks

				block content
			#right-sidebar
				.sidebar-container
					ul.nav.nav-tabs.navs-3
						li.active
							a(data-toggle='tab', href='#tab-1')
								| Notes
						li
							a(data-toggle='tab', href='#tab-2')
								| Projects
						li
							a(data-toggle='tab', href='#tab-3')
								i.fa.fa-gear
					.tab-content
						#tab-1.tab-pane.active
							.sidebar-title
								h3
									i.fa.fa-comments-o
									|  Latest Notes
								small
									i.fa.fa-tim
									|  You have 10 new message.
							div
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a1.jpg')
											.m-t-xs
												i.fa.fa-star.text-warning
												i.fa.fa-star.text-warning
										.media-body
											| There are many variations of passages of Lorem Ipsum available.
											br
											small.text-muted Today 4:21 pm
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a2.jpg')
										.media-body
											| The point of using Lorem Ipsum is that it has a more-or-less normal.
											br
											small.text-muted Yesterday 2:45 pm
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a3.jpg')
											.m-t-xs
												i.fa.fa-star.text-warning
												i.fa.fa-star.text-warning
												i.fa.fa-star.text-warning
										.media-body
											| Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
											br
											small.text-muted Yesterday 1:10 pm
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a4.jpg')
										.media-body
											| Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
											br
											small.text-muted Monday 8:37 pm
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a8.jpg')
										.media-body
											| All the Lorem Ipsum generators on the Internet tend to repeat.
											br
											small.text-muted Today 4:21 pm
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a7.jpg')
										.media-body
											| Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
											br
											small.text-muted Yesterday 2:45 pm
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a3.jpg')
											.m-t-xs
												i.fa.fa-star.text-warning
												i.fa.fa-star.text-warning
												i.fa.fa-star.text-warning
										.media-body
											| The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
											br
											small.text-muted Yesterday 1:10 pm
								.sidebar-message
									a(href='#')
										.pull-left.text-center
											img.img-circle.message-avatar(alt='image', src='/forms/img/a4.jpg')
										.media-body
											| Uncover many web sites still in their infancy. Various versions have.
											br
											small.text-muted Monday 8:37 pm
						#tab-2.tab-pane
							.sidebar-title
								h3
									i.fa.fa-cube
									|  Latest projects
								small
									i.fa.fa-tim
									|  You have 14 projects. 10 not completed.
							ul.sidebar-list
								li
									a(href='#')
										.small.pull-right.m-t-xs 9 hours ago
										h4 Business valuation
										|                                     It is a long established fact that a reader will be distracted.
										.small Completion with: 22%
										.progress.progress-mini
											.progress-bar.progress-bar-warning(style='width: 22%;')
										.small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
								li
									a(href='#')
										.small.pull-right.m-t-xs 9 hours ago
										h4 Contract with Company
										|                                     Many desktop publishing packages and web page editors.
										.small Completion with: 48%
										.progress.progress-mini
											.progress-bar(style='width: 48%;')
								li
									a(href='#')
										.small.pull-right.m-t-xs 9 hours ago
										h4 Meeting
										|                                     By the readable content of a page when looking at its layout.
										.small Completion with: 14%
										.progress.progress-mini
											.progress-bar.progress-bar-info(style='width: 14%;')
								li
									a(href='#')
										span.label.label-primary.pull-right NEW
										h4 The generated
										// <div class="small pull-right m-t-xs">9 hours ago</div>
										| There are many variations of passages of Lorem Ipsum available.
										.small Completion with: 22%
										.small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
								li
									a(href='#')
										.small.pull-right.m-t-xs 9 hours ago
										h4 Business valuation
										|                                     It is a long established fact that a reader will be distracted.
										.small Completion with: 22%
										.progress.progress-mini
											.progress-bar.progress-bar-warning(style='width: 22%;')
										.small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
								li
									a(href='#')
										.small.pull-right.m-t-xs 9 hours ago
										h4 Contract with Company
										|                                     Many desktop publishing packages and web page editors.
										.small Completion with: 48%
										.progress.progress-mini
											.progress-bar(style='width: 48%;')
								li
									a(href='#')
										.small.pull-right.m-t-xs 9 hours ago
										h4 Meeting
										|                                     By the readable content of a page when looking at its layout.
										.small Completion with: 14%
										.progress.progress-mini
											.progress-bar.progress-bar-info(style='width: 14%;')
								li
									a(href='#')
										span.label.label-primary.pull-right NEW
										h4 The generated
										// <div class="small pull-right m-t-xs">9 hours ago</div>
										| There are many variations of passages of Lorem Ipsum available.
										.small Completion with: 22%
										.small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
						#tab-3.tab-pane
							.sidebar-title
								h3
									i.fa.fa-gears
									|  Settings
								small
									i.fa.fa-tim
									|  You have 14 projects. 10 not completed.
							.setings-item
								span
									| Show notifications
								.switch
									.onoffswitch
										input#example.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
										label.onoffswitch-label(for='example')
											span.onoffswitch-inner
											span.onoffswitch-switch
							.setings-item
								span
									| Disable Chat
								.switch
									.onoffswitch
										input#example2.onoffswitch-checkbox(type='checkbox', name='collapsemenu', checked='')
										label.onoffswitch-label(for='example2')
											span.onoffswitch-inner
											span.onoffswitch-switch
							.setings-item
								span
									| Enable history
								.switch
									.onoffswitch
										input#example3.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
										label.onoffswitch-label(for='example3')
											span.onoffswitch-inner
											span.onoffswitch-switch
							.setings-item
								span
									| Show charts
								.switch
									.onoffswitch
										input#example4.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
										label.onoffswitch-label(for='example4')
											span.onoffswitch-inner
											span.onoffswitch-switch
							.setings-item
								span
									| Offline users
								.switch
									.onoffswitch
										input#example5.onoffswitch-checkbox(type='checkbox', checked='', name='collapsemenu')
										label.onoffswitch-label(for='example5')
											span.onoffswitch-inner
											span.onoffswitch-switch
							.setings-item
								span
									| Global search
								.switch
									.onoffswitch
										input#example6.onoffswitch-checkbox(type='checkbox', checked='', name='collapsemenu')
										label.onoffswitch-label(for='example6')
											span.onoffswitch-inner
											span.onoffswitch-switch
							.setings-item
								span
									| Update everyday
								.switch
									.onoffswitch
										input#example7.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
										label.onoffswitch-label(for='example7')
											span.onoffswitch-inner
											span.onoffswitch-switch
							.sidebar-content
								h4 Settings
								.small
									| I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									| And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
									| Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
		// Mainly scripts
		script(src='/forms/js/jquery-2.1.1.js')
		script(src='/forms/js/bootstrap.min.js')
		script(src='/forms/js/plugins/metisMenu/jquery.metisMenu.js')
		script(src='/forms/js/plugins/slimscroll/jquery.slimscroll.min.js')
		// Flot
		script(src='/forms/js/plugins/flot/jquery.flot.js')
		script(src='/forms/js/plugins/flot/jquery.flot.tooltip.min.js')
		script(src='/forms/js/plugins/flot/jquery.flot.spline.js')
		script(src='/forms/js/plugins/flot/jquery.flot.resize.js')
		script(src='/forms/js/plugins/flot/jquery.flot.pie.js')
		script(src='/forms/js/plugins/flot/jquery.flot.symbol.js')
		script(src='/forms/js/plugins/flot/curvedLines.js')
		// Peity
		script(src='/forms/js/plugins/peity/jquery.peity.min.js')
		script(src='/forms/js/demo/peity-demo.js')
		// Custom and plugin javascript
		script(src='/forms/js/inspinia.js')
		script(src='/forms/js/plugins/pace/pace.min.js')
		// jQuery UI
		script(src='/forms/js/plugins/jquery-ui/jquery-ui.min.js')
		// Jvectormap
		script(src='/forms/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js')
		script(src='/forms/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
		// Sparkline
		script(src='/forms/js/plugins/sparkline/jquery.sparkline.min.js')
		// Sparkline demo data
		script(src='/forms/js/demo/sparkline-demo.js')
		// ChartJS
		script(src='/forms/js/plugins/chartJs/Chart.min.js')
		script(src='/forms/js/demo/Chart.HorizontalBar.js')
		// Primer
		script(src='/forms/js/demo/primer.js')
		// Validators?
		script(src='/forms/js/plugins/validate/jquery.validate.min.js')
		script.
			$(document).ready(function () {
				var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
				var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];
				var data1 = [
					{label: "Data 1", data: d1, color: '#17a084'},
					{label: "Data 2", data: d2, color: '#127e68'}
				];
				$.plot($("#flot-chart1"), data1, {
					xaxis: {
						tickDecimals: 0
					},
					series: {
						lines: {
							show: true,
							fill: true,
							fillColor: {
								colors: [{
									opacity: 1
								}, {
									opacity: 1
								}]
							},
						},
						points: {
							width: 0.1,
							show: false
						},
					},
					grid: {
						show: false,
						borderWidth: 0
					},
					legend: {
						show: false,
					}
				});
				var lineData = {
					labels: ["January", "February", "March", "April", "May", "June", "July"],
					datasets: [
						{
							label: "Example dataset",
							fillColor: "rgba(220,220,220,0.5)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(220,220,220,1)",
							data: [65, 59, 40, 51, 36, 25, 40]
						},
						{
							label: "Example dataset",
							fillColor: "rgba(26,179,148,0.5)",
							strokeColor: "rgba(26,179,148,0.7)",
							pointColor: "rgba(26,179,148,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(26,179,148,1)",
							data: [48, 48, 60, 39, 56, 37, 30]
						}
					]
				};
				var lineOptions = {
					scaleShowGridLines: true,
					scaleGridLineColor: "rgba(0,0,0,.05)",
					scaleGridLineWidth: 1,
					bezierCurve: true,
					bezierCurveTension: 0.4,
					pointDot: true,
					pointDotRadius: 4,
					pointDotStrokeWidth: 1,
					pointHitDetectionRadius: 20,
					datasetStroke: true,
					datasetStrokeWidth: 2,
					datasetFill: true,
					responsive: true,
				};
				var ctx = document.getElementById("lineChart").getContext("2d");
				var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
			});
